/**********
*  Field  *
**********/

.st_fields-1 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    /*letter-spacing: -1%;*/
}

.st_fields-2 {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    /*letter-spacing: -1%;*/
}
