/* Brown */
.st_brown-25 {
    background: #FAF7F3;
}

.st_brown-50 {
    background: #F4ECE3;
}

.st_brown-100 {
    background: #F0E5D8;
}

.st_brown-200 {
    background: #E7D4BE;
}

.st_brown-300 {
    background: #DDC2A4;
}

.st_brown-400 {
    background: #CFA97D;
}

.st_brown-500 {
    background: #B08053;
}

.st_brown-600 {
    background: #97633C;
}

.st_brown-700 {
    background: #7E4A29;
}

.st_brown-800 {
    background: #66331A;
}

.st_brown-900 {
    background: #54220F;
}
