/* Cyan */
.st_cyan-25 {
    background: #EFFDFC;
}

.st_cyan-50 {
    background: #E0FCF9;
}

.st_cyan-100 {
    background: #C7FAF4;
}

.st_cyan-200 {
    background: #A4F6EC;
}

.st_cyan-300 {
    background: #73E5E0;
}

.st_cyan-400 {
    background: #4DC7CC;
}

.st_cyan-500 {
    background: #1D9AAA;
}

.st_cyan-600 {
    background: #157A92;
}

.st_cyan-700 {
    background: #0E5C7A;
}

.st_cyan-800 {
    background: #094362;
}

.st_cyan-900 {
    background: #053051;
}
