/* Indigo */
.st_indigo-25 {
    background: #EFF5FE;
}

.st_indigo-50 {
    background: #E3EBFD;
}

.st_indigo-100 {
    background: #CCDAFC;
}

.st_indigo-200 {
    background: #ADC3F8;
}

.st_indigo-300 {
    background: #819EEC;
}

.st_indigo-400 {
    background: #5E7DD9;
}

.st_indigo-500 {
    background: #2F50C1;
}

.st_indigo-600 {
    background: #223DA5;
}

.st_indigo-700 {
    background: #172C8A;
}

.st_indigo-800 {
    background: #0E1E6F;
}

.st_indigo-900 {
    background: #09145C;
}
