/* Orange */
.st_orange-25 {
    background: #FEF9EC;
}

.st_orange-50 {
    background: #FFF1DF;
}

.st_orange-100 {
    background: #FFE4C4;
}

.st_orange-200 {
    background: #FED3A0;
}

.st_orange-300 {
    background: #FDB471;
}

.st_orange-400 {
    background: #FC964E;
}

.st_orange-500 {
    background: #FB6514;
}

.st_orange-600 {
    background: #D7480E;
}

.st_orange-700 {
    background: #B4300A;
}

.st_orange-800 {
    background: #911C06;
}

.st_orange-900 {
    background: #780F03;
}

