/* Plum */
.st_plum-25 {
    background: #FEF6FD;
}

.st_plum-50 {
    background: #FEE7FB;
}

.st_plum-100 {
    background: #FED2F9;
}

.st_plum-200 {
    background: #FDB5F5;
}

.st_plum-300 {
    background: #FA90F7;
}

.st_plum-400 {
    background: #EE73F5;
}

.st_plum-500 {
    background: #D946EF;
}

.st_plum-600 {
    background: #AD33CD;
}

.st_plum-700 {
    background: #8423AC;
}

.st_plum-800 {
    background: #5F168A;
}

.st_plum-900 {
    background: #450D72;
}

