/**********
* Primary *
**********/
.st_primary-25 {
    background: #FBF8FF;
}

.st_primary-50 {
    background: #F3EDFF;
}

.st_primary-100 {
    background: #E9DEFF;
}

.st_primary-200 {
    background: #DAC9FF;
}

.st_primary-300 {
    background: #C5ABFF;
}

.st_primary-400 {
    background: #A57EFF;
}

.st_primary-500 {
    background: #8B5FF1;
}

.st_primary-600 {
    background: #7046CE;
}

.st_primary-700 {
    background: #5C37BA;
}

.st_primary-800 {
    background: #3D1892;
}

.st_primary-900 {
    background: #340A7A;
}
