/* Rose */
.st_rose-25 {
    background: #FEF5EF;
}

.st_rose-50 {
    background: #FFE7E5;
}

.st_rose-100 {
    background: #FFD2CF;
}

.st_rose-200 {
    background: #FEB5B1;
}

.st_rose-300 {
    background: #FC8A8F;
}

.st_rose-400 {
    background: #F96C80;
}

.st_rose-500 {
    background: #F63D68;
}

.st_rose-600 {
    background: #D32C63;
}

.st_rose-700 {
    background: #B11E5C;
}

.st_rose-800 {
    background: #8E1353;
}

.st_rose-900 {
    background: #760B4D;
}

